/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a vintage background color */
body {
    background-color: #f0e7db; /* A soft, aged yellowish background color */
    font-family: 'Dubai', serif; /* Font */
    text-align: center;
}

/* Main title styling */
h1 {
    font-size: 36px;
    color: #8b4513; /* Saddle Brown text color */
    margin: 20px 0;
}

/* Links styling */
a {
    text-decoration: none;
    color: #8b4513; /* Saddle Brown text color for links */
}

a:hover {
    text-decoration: underline;
}

/* Page containers */
#recipe-list, #recipe-details {
    background-color: #fff; /* White background for recipe lists and details */
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #8b4513; /* Saddle Brown border */
    border-radius: 10px;
    width: 80%;
}

/* Recipe list item styling */
li {
    list-style-type: square;
    font-size: 18px;
    margin: 10px 0;
}

/* Recipe details styling */
p {
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.5;
}
.p1 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 700;
}
.info {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 700;
    color:#716258;
}
/* Add a subtle box-shadow for a vintage paper effect */
#recipe-list, #recipe-details {
    font-size: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.119);
}

.width10 {
    width: 10%;
}
.width20 {
    width: 20%;
    text-align: center;
}
.width40 {
    width: 40%;
}
.width100 {
    width:100%
}
